<%= render partial: "shared/main_nav" %>

<div class="new_drink_container">
  <h2> Welcome, <%= current_user.user.first_name %>! </h2>

  <h2> Your Drinks </h2>
  <h3> Today </h3>
  <h3> Past Week </h3>
  <h3> This Year </h3>
  <h3> All Time </h3>
</div>