<%= render partial: "shared/main_logo" %>

<div class="static_container">
  <h2> What is this app? </h2>
  <p> This app allows a user to track and monitor their alcohol consumption. The primary goal of this application is to allow users to more closely track their drinking and to be more deliberate about their drinking.  </p>

  <h2> Who is this app for? </h2>
  <p> This app is for anyone that wants to reduce or be more deliberate about their overall alcohol consumption. </p>

  <h2> How do I use this app? </h2>
  <p> 
    After creating an account, login to the application and add a drink by clicking the "New Drink" link at the top of the page. 
      <br><br> 
    Then, select the type of drink you would like to add (beer, wine, spirit, seltzer) and enter the drink's ounces and alcohol-by-volume (ABV) percentage. For example, a light beer would be "12" for ounces and "4.2" for percentage. 
      <br><br> 
    Finally, click "Add Drink". This will then add the drink to the "All Drinks" page, as well as populate the data fields on the main dashboard for today, this week, this month, and this year. 
  </p>
</div>