* {
  font-family: monospace;
}

html, body {
  background-color: rgb(250, 250, 250);
  height: 100%;
  margin: 0px;
  padding: 0px;
}

div.flash_message {
  background-color: rgb(226, 43, 156);
  color: rgb(255, 255, 255);
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
}

div.login_form_container, div.links, div.new_user_container {
  max-width: 400px;
  margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="submit"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
}

input[type="submit"]:hover {
  transition: 1s;
  background-color: rgb(0, 208, 255);
}

/* Media Queries */
/* 
@media (width > 800px) and (width <= 1000px){
  body {
    background-color: rgb(69, 175, 207);
  }
}

@media (width <= 800px) {
  body {
    background-color: rgb(207, 69, 69);
  }
} */