* {
  font-family: monospace;
}

html, body {
  /* background-color: rgb(250, 250, 250); */
  height: 100%; /* 100vh*/
  margin: 0px;
  padding: 0px;
}

div.page_content {
  margin: 20px;
}

div.login_form_container, div.links, div.new_user_container {
  max-width: 400px;
  margin: 0 auto;
}

span.red {
  color: red;
}

/* Logo */
div.main_logo {
  max-width: 400px;
  margin: 0 auto;
}

img.logo {
  width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.nav_logo {
  width: 30px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Flash Messages */
div.flash_message {
  opacity: 0;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
  border-radius: 4px;
  animation: fade_in_out 5s;
}

div.flash_message.error {
  color: rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
}

div.flash_message.success{
  color: rgb(50, 172, 0);
  border: 2px solid rgb(50, 172, 0);
}

@keyframes fade_in_out {
  0%, 100% { opacity: 0; }
  25%, 75% { opacity: 1; }
}

/* Inputs */
input[type="text"], input[type="password"], input[type="submit"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
}

input[type="submit"]:hover {
  transition: 1s;
  background-color: aquamarine;
}

/* Nav Bar */
div.main_nav {
  background-color: #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: relative;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

li a.active {
  background-color: #e00083;
  float: right;
}

li a.active:hover {
  background-color: #e00000;
}

/* Drink */
div.drink {
  background-color: aquamarine;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 400px;
}

/* New Drink Input Drink Container */
div.new_drink_input {
  max-width: 400px;
}

/* Drink Container */
div.drink_container {
  background-color: rgb(229, 229, 229);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 400px;
}

/* Media Queries
@media screen and (width <= 480px) {
  body {
    background-color: rgb(143, 241, 240);
  }
}
*/