* {
  font-family: monospace;
}

html, body {
  height: 100%; /* 100vh*/
  margin: 0px;
  padding: 0px;
}

div.page_content {
  margin: 20px;
}

div.login_form_container, div.links, div.new_user_container, div.static_container {
  max-width: 400px;
  margin: 0 auto;
}

/********** Multiple Pages **********/

/* Main Logo */

div.main_logo {
  max-width: 400px;
  margin: 0 auto;
}

img.logo {
  width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.nav_logo {
  width: 30px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Main Navigation */

div.main_nav {
  background-color: #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: relative;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  transition: 0.5s;
  background-color: #111;
  color: #80ff80;
}

li a.active {
  background-color: #e00083;
  float: right;
}

li a.active:hover {
  transition: 0.5s;
  background-color: #e00000;
}

/* Inputs */

input[type="text"], input[type="password"] {
  font-size: 12px;
  background-color: #f0f0f0;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0px solid rgb(0, 0, 0);
  border-radius: 4px;
}

input[type="submit"] {
  color: #003300;
  font-weight: bold;
  background-color: #99ff99;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0px solid rgb(0, 0, 0);
  border-radius: 4px;
}

input[type="submit"]:hover {
  transition: 0.5s;
  background-color: #00e6b0;
  cursor: pointer;
}

/* Flash Messages */

div.flash_message {
  opacity: 0;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
  border-radius: 4px;
  animation: fade_in_out 5s;
  position: static;
}

div.flash_message.error {
  color: rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
}

div.flash_message.success{
  color: rgb(50, 172, 0);
  border: 2px solid rgb(50, 172, 0);
}

@keyframes fade_in_out {
  0%, 100% { opacity: 0; }
  25%, 75% { opacity: 1; }
}

/********** Individual Pages **********/

/* Sessions New */

div.links {
  text-align: center;
}

a.create_account {
  color: #0086c7;
  text-decoration: none;
  padding: 1px 4px;
}

/* UserAccounts New */

span.red {
  color: red;
}

/* Dashboard Index */

div.drink_summary {
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 400px;
}

div.outer_column_container {
  width: fit-content;
}

div.dashboard_column {
  display: inline-block;
  width: 400px;
  max-width: 400px;
  padding-right: 10px;
}

div.left {
  float: left;
}

span.week_status {
  color: rgb(255, 255, 255);
  padding: 1px 4px;
  border: 2px solid #000000;
  border-radius: 4px;
}

div.bar_chart {
  width: 410px;
}

/* Drinks New and Drinks Edit */

div.new_drink_input, div.edit_drink_input {
  max-width: 400px;
}

/* Drinks Index */

div.drink {
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 400px;
}

div.drink:hover {
  transition: 0.5s;
  background-color: #ccffcc;
}

a.delete_drink {
  background-color: #e00083;
  color: white;
  text-decoration: none;
  padding: 1px 4px;
  border: 2px solid #e00083;
  border-radius: 4px;
}

a.delete_drink:hover {
  transition: 0.5s;
  background-color: #ff0000;
  border-color: #ff0000;
}

a.update_drink {
  background-color: #0056e0;
  color: white;
  text-decoration: none;
  padding: 1px 4px;
  border: 2px solid #0056e0;
  border-radius: 4px;
}

a.update_drink:hover {
  transition: 0.5s;
  background-color: #170fae;
  border-color: #170fae;
}

p.delete_drink, p.update_drink {
  margin-top: 0;
  display: inline-block;
}

/* Media Queries */

@media screen and (width <= 860px) {
  div.dashboard_column {
    width: 100%;
    padding-right: 0px;
  }

  div.left {
    float: none;
  }

  div.bar_chart {
    max-width: 350px;
  }
}

@media screen and (width <= 480px) {
  div.login_form_container, div.links, div.new_user_container, div.static_container, div.flash_message {
    max-width: 350px;
  }
}