<%= render partial: "shared/main_nav" %>

<div class="page_content">
  <h2> FAQs </h2>

  <div class="drink frequently_asked_question">
    <h3> What is this app? </h3>
    <p> This app allows users to track what they drink by entering in values for a drink's ounces and alcohol-by-volume (ABV) percentage. </p>
  </div>

  <div class="drink frequently_asked_question">
    <h3> Who is this app for? </h3>
    <p> This app is for everyone! This app is for anyone that is curious what they drink on a daily, weekly, monthly, or yearly basis. </p>
  </div>

  <div class="drink frequently_asked_question">
    <h3> What are alcoholic units? </h3>
    <p> Alcoholic units are a simple way of expressing the quantity of pure alcohol in a drink. One unit equals 10ml or 8g of pure alcohol, which is around the amount of alcohol the average adult can process in an hour. </p>
  </div>

  <div class="drink frequently_asked_question">
    <h3> What do the statuses Perfect, Under, Over, and Untracked mean? </h3>
    <p><b> Perfect: </b> Zero total alcoholic units (no drinks). </p>
    <p><b> Under: </b> Less than 14 total alcoholic units (a few drinks). </p>
    <p><b> Over: </b> More than 14 total alcoholic units (more than a few drinks). </p>
    <p><b> Untracked: </b> No data. </p>
  </div>

  <div class="drink frequently_asked_question">
    <h3> What's the significance of 14 alcoholic units? </h3>
    <p> This number is considered to be the barrier between "low-risk" and "high-risk" drinking. </p>
    <p> Drinking less than 14 units a week is considered to be "low-risk" drinking, while drinking more than 14 units a week, regularly, is considered to be "high-risk." </p>
    <p> 14 units is roughly equivalent to six pints of lager or one-and-a-half bottles of wine. </p>
  </div>

<!--
  <div class="drink frequently_asked_question">
    <h3> How do I log a new drink? </h3>
  </div>

    <div class="drink frequently_asked_question">
    <h3> How do I update or delete an existing drink? </h3>
  </div>

  <h2> Submit a Question </h2> 
-->
</div>
